// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$facebook-black-name: 'facebook-black'
$facebook-black-x: 9px
$facebook-black-y: 40px
$facebook-black-offset-x: -9px
$facebook-black-offset-y: -40px
$facebook-black-width: 9px
$facebook-black-height: 19px
$facebook-black-total-width: 70px
$facebook-black-total-height: 59px
$facebook-black-image: 'sprite.png'
$facebook-black: (9px, 40px, -9px, -40px, 9px, 19px, 70px, 59px, 'sprite.png', 'facebook-black', )
$facebook-yellow-name: 'facebook-yellow'
$facebook-yellow-x: 0px
$facebook-yellow-y: 40px
$facebook-yellow-offset-x: 0px
$facebook-yellow-offset-y: -40px
$facebook-yellow-width: 9px
$facebook-yellow-height: 19px
$facebook-yellow-total-width: 70px
$facebook-yellow-total-height: 59px
$facebook-yellow-image: 'sprite.png'
$facebook-yellow: (0px, 40px, 0px, -40px, 9px, 19px, 70px, 59px, 'sprite.png', 'facebook-yellow', )
$instagram-black-name: 'instagram-black'
$instagram-black-x: 36px
$instagram-black-y: 0px
$instagram-black-offset-x: -36px
$instagram-black-offset-y: 0px
$instagram-black-width: 18px
$instagram-black-height: 18px
$instagram-black-total-width: 70px
$instagram-black-total-height: 59px
$instagram-black-image: 'sprite.png'
$instagram-black: (36px, 0px, -36px, 0px, 18px, 18px, 70px, 59px, 'sprite.png', 'instagram-black', )
$instagram-yellow-name: 'instagram-yellow'
$instagram-yellow-x: 0px
$instagram-yellow-y: 22px
$instagram-yellow-offset-x: 0px
$instagram-yellow-offset-y: -22px
$instagram-yellow-width: 18px
$instagram-yellow-height: 18px
$instagram-yellow-total-width: 70px
$instagram-yellow-total-height: 59px
$instagram-yellow-image: 'sprite.png'
$instagram-yellow: (0px, 22px, 0px, -22px, 18px, 18px, 70px, 59px, 'sprite.png', 'instagram-yellow', )
$telegram-black-name: 'telegram-black'
$telegram-black-x: 54px
$telegram-black-y: 0px
$telegram-black-offset-x: -54px
$telegram-black-offset-y: 0px
$telegram-black-width: 16px
$telegram-black-height: 16px
$telegram-black-total-width: 70px
$telegram-black-total-height: 59px
$telegram-black-image: 'sprite.png'
$telegram-black: (54px, 0px, -54px, 0px, 16px, 16px, 70px, 59px, 'sprite.png', 'telegram-black', )
$telegram-yellow-name: 'telegram-yellow'
$telegram-yellow-x: 54px
$telegram-yellow-y: 16px
$telegram-yellow-offset-x: -54px
$telegram-yellow-offset-y: -16px
$telegram-yellow-width: 16px
$telegram-yellow-height: 16px
$telegram-yellow-total-width: 70px
$telegram-yellow-total-height: 59px
$telegram-yellow-image: 'sprite.png'
$telegram-yellow: (54px, 16px, -54px, -16px, 16px, 16px, 70px, 59px, 'sprite.png', 'telegram-yellow', )
$vk-black-name: 'vk-black'
$vk-black-x: 35px
$vk-black-y: 40px
$vk-black-offset-x: -35px
$vk-black-offset-y: -40px
$vk-black-width: 17px
$vk-black-height: 9px
$vk-black-total-width: 70px
$vk-black-total-height: 59px
$vk-black-image: 'sprite.png'
$vk-black: (35px, 40px, -35px, -40px, 17px, 9px, 70px, 59px, 'sprite.png', 'vk-black', )
$vk-yellow-name: 'vk-yellow'
$vk-yellow-x: 18px
$vk-yellow-y: 40px
$vk-yellow-offset-x: -18px
$vk-yellow-offset-y: -40px
$vk-yellow-width: 17px
$vk-yellow-height: 9px
$vk-yellow-total-width: 70px
$vk-yellow-total-height: 59px
$vk-yellow-image: 'sprite.png'
$vk-yellow: (18px, 40px, -18px, -40px, 17px, 9px, 70px, 59px, 'sprite.png', 'vk-yellow', )
$whatsapp-black-name: 'whatsapp-black'
$whatsapp-black-x: 18px
$whatsapp-black-y: 22px
$whatsapp-black-offset-x: -18px
$whatsapp-black-offset-y: -22px
$whatsapp-black-width: 17px
$whatsapp-black-height: 17px
$whatsapp-black-total-width: 70px
$whatsapp-black-total-height: 59px
$whatsapp-black-image: 'sprite.png'
$whatsapp-black: (18px, 22px, -18px, -22px, 17px, 17px, 70px, 59px, 'sprite.png', 'whatsapp-black', )
$whatsapp-yellow-name: 'whatsapp-yellow'
$whatsapp-yellow-x: 35px
$whatsapp-yellow-y: 22px
$whatsapp-yellow-offset-x: -35px
$whatsapp-yellow-offset-y: -22px
$whatsapp-yellow-width: 17px
$whatsapp-yellow-height: 17px
$whatsapp-yellow-total-width: 70px
$whatsapp-yellow-total-height: 59px
$whatsapp-yellow-image: 'sprite.png'
$whatsapp-yellow: (35px, 22px, -35px, -22px, 17px, 17px, 70px, 59px, 'sprite.png', 'whatsapp-yellow', )
$youtube-black-name: 'youtube-black'
$youtube-black-x: 18px
$youtube-black-y: 0px
$youtube-black-offset-x: -18px
$youtube-black-offset-y: 0px
$youtube-black-width: 18px
$youtube-black-height: 22px
$youtube-black-total-width: 70px
$youtube-black-total-height: 59px
$youtube-black-image: 'sprite.png'
$youtube-black: (18px, 0px, -18px, 0px, 18px, 22px, 70px, 59px, 'sprite.png', 'youtube-black', )
$youtube-yellow-name: 'youtube-yellow'
$youtube-yellow-x: 0px
$youtube-yellow-y: 0px
$youtube-yellow-offset-x: 0px
$youtube-yellow-offset-y: 0px
$youtube-yellow-width: 18px
$youtube-yellow-height: 22px
$youtube-yellow-total-width: 70px
$youtube-yellow-total-height: 59px
$youtube-yellow-image: 'sprite.png'
$youtube-yellow: (0px, 0px, 0px, 0px, 18px, 22px, 70px, 59px, 'sprite.png', 'youtube-yellow', )
$spritesheet-width: 70px
$spritesheet-height: 59px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($facebook-black, $facebook-yellow, $instagram-black, $instagram-yellow, $telegram-black, $telegram-yellow, $vk-black, $vk-yellow, $whatsapp-black, $whatsapp-yellow, $youtube-black, $youtube-yellow, )
$spritesheet: (70px, 59px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
