/* Including fonts */
@font-face {
  font-family: 'HiMelodyCyrillic';
  src: url("../../fonts/HiMelodyCyrillic.eot?#iefix") format("embedded-opentype"), url("../../fonts/HiMelodyCyrillic.woff") format("woff"), url("../../fonts/HiMelodyCyrillic.ttf") format("truetype"), url("../../fonts/HiMelodyCyrillic.svg#HiMelodyCyrillic") format("svg");
  font-weight: normal;
  font-style: normal; }
