.icon-arrow-left-black {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 59px;
  height: 74px; }

.icon-arrow-left-white {
  background-image: url(../../img/sprite.png);
  background-position: -118px -74px;
  width: 59px;
  height: 74px; }

.icon-arrow-left-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -59px 0px;
  width: 59px;
  height: 74px; }

.icon-arrow-right-black {
  background-image: url(../../img/sprite.png);
  background-position: -118px 0px;
  width: 59px;
  height: 74px; }

.icon-arrow-right-white {
  background-image: url(../../img/sprite.png);
  background-position: 0px -74px;
  width: 59px;
  height: 74px; }

.icon-arrow-right-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -59px -74px;
  width: 59px;
  height: 74px; }

.icon-facebook-black {
  background-image: url(../../img/sprite.png);
  background-position: -177px -19px;
  width: 9px;
  height: 19px; }

.icon-facebook-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -177px 0px;
  width: 9px;
  height: 19px; }

.icon-instagram-black {
  background-image: url(../../img/sprite.png);
  background-position: -36px -148px;
  width: 18px;
  height: 18px; }

.icon-instagram-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -54px -148px;
  width: 18px;
  height: 18px; }

.icon-telegram-black {
  background-image: url(../../img/sprite.png);
  background-position: -106px -148px;
  width: 16px;
  height: 16px; }

.icon-telegram-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -122px -148px;
  width: 16px;
  height: 16px; }

.icon-vk-black {
  background-image: url(../../img/sprite.png);
  background-position: -138px -148px;
  width: 17px;
  height: 9px; }

.icon-vk-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -155px -148px;
  width: 17px;
  height: 9px; }

.icon-whatsapp-black {
  background-image: url(../../img/sprite.png);
  background-position: -72px -148px;
  width: 17px;
  height: 17px; }

.icon-whatsapp-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -89px -148px;
  width: 17px;
  height: 17px; }

.icon-youtube-black {
  background-image: url(../../img/sprite.png);
  background-position: 0px -148px;
  width: 18px;
  height: 22px; }

.icon-youtube-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -18px -148px;
  width: 18px;
  height: 22px; }
