/* Including styles files */
@import url(../../libs/fancybox/dist/jquery.fancybox.css);
@import url(../../libs/slick-carousel/slick/slick.css);
.icon-arrow-left-black {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 59px;
  height: 74px; }

.icon-arrow-left-white {
  background-image: url(../../img/sprite.png);
  background-position: -118px -74px;
  width: 59px;
  height: 74px; }

.icon-arrow-left-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -59px 0px;
  width: 59px;
  height: 74px; }

.icon-arrow-right-black {
  background-image: url(../../img/sprite.png);
  background-position: -118px 0px;
  width: 59px;
  height: 74px; }

.icon-arrow-right-white {
  background-image: url(../../img/sprite.png);
  background-position: 0px -74px;
  width: 59px;
  height: 74px; }

.icon-arrow-right-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -59px -74px;
  width: 59px;
  height: 74px; }

.icon-facebook-black {
  background-image: url(../../img/sprite.png);
  background-position: -177px -19px;
  width: 9px;
  height: 19px; }

.icon-facebook-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -177px 0px;
  width: 9px;
  height: 19px; }

.icon-instagram-black {
  background-image: url(../../img/sprite.png);
  background-position: -36px -148px;
  width: 18px;
  height: 18px; }

.icon-instagram-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -54px -148px;
  width: 18px;
  height: 18px; }

.icon-telegram-black {
  background-image: url(../../img/sprite.png);
  background-position: -106px -148px;
  width: 16px;
  height: 16px; }

.icon-telegram-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -122px -148px;
  width: 16px;
  height: 16px; }

.icon-vk-black {
  background-image: url(../../img/sprite.png);
  background-position: -138px -148px;
  width: 17px;
  height: 9px; }

.icon-vk-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -155px -148px;
  width: 17px;
  height: 9px; }

.icon-whatsapp-black {
  background-image: url(../../img/sprite.png);
  background-position: -72px -148px;
  width: 17px;
  height: 17px; }

.icon-whatsapp-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -89px -148px;
  width: 17px;
  height: 17px; }

.icon-youtube-black {
  background-image: url(../../img/sprite.png);
  background-position: 0px -148px;
  width: 18px;
  height: 22px; }

.icon-youtube-yellow {
  background-image: url(../../img/sprite.png);
  background-position: -18px -148px;
  width: 18px;
  height: 22px; }

/* Including fonts */
@font-face {
  font-family: 'HiMelodyCyrillic';
  src: url("../../fonts/HiMelodyCyrillic.eot?#iefix") format("embedded-opentype"), url("../../fonts/HiMelodyCyrillic.woff") format("woff"), url("../../fonts/HiMelodyCyrillic.ttf") format("truetype"), url("../../fonts/HiMelodyCyrillic.svg#HiMelodyCyrillic") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Grid */
.case {
  position: relative;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.row, .col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .row-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .col-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

.row.left, .col.left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.row.right, .col.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.row.mid, .col.mid {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.row.between, .col.between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.row.around, .col.around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.no-wrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.i-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.i-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.i-mid {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.i-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.i-strech {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

/* Global settings */
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 28px;
  font-family: "HiMelodyCyrillic", sans-serif;
  color: #010101;
  background: white; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit; }

ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

li {
  display: block;
  list-style-image: none; }

a {
  color: #010101;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: .3s;
  transition: .3s; }

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input, textarea, button {
  outline: none; }

/* Form elements */
.input {
  position: relative; }
  .input__wrap {
    display: block;
    font-size: 28px;
    font-family: "HiMelodyCyrillic", sans-serif;
    background: white;
    width: 100%; }

.textarea {
  position: relative; }
  .textarea__wrap {
    display: block;
    font-size: 28px;
    font-family: "HiMelodyCyrillic", sans-serif;
    background: white;
    width: 100%;
    resize: none; }

.btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  font-size: 28px;
  font-family: "HiMelodyCyrillic", sans-serif;
  cursor: pointer;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  color: #fff; }
  .btn_red {
    background-color: #ff5454; }
  .btn_yellow {
    background-color: #f6c61a; }
  .btn_green {
    background-color: #46b325; }
  .btn_small {
    height: 38px; }
  .btn_normal {
    height: 58px; }
  .btn_radius {
    -webkit-border-radius: 50px;
            border-radius: 50px; }
  .btn_shadow {
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.14);
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.14); }

.input input, .textarea textarea {
  -webkit-transition: .3s;
  transition: .3s; }

input, .btn, .slick-slide, textarea {
  outline: none !important; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.mid {
  margin-left: auto;
  margin-right: auto; }

.header {
  z-index: 2;
  position: relative;
  padding-top: 29px;
  color: #fff;
  background: url("../../img/bg/header.png") no-repeat center bottom;
  min-height: 1027px; }
  .header .case {
    position: static; }
  .header__btn-form {
    width: 270px;
    margin-bottom: 165px; }
  .header__title h1 {
    display: none; }
  .header__name {
    margin-bottom: 15px; }
    .header__name h2 {
      display: none; }
    .header__name img {
      position: relative;
      left: -167px; }
  .header__title, .header__name {
    font-size: 0; }
    .header__title img, .header__name img {
      margin-left: auto;
      margin-right: auto; }
  .header__desc {
    text-align: center;
    font-size: 47px;
    text-shadow: 3px 4px 8px rgba(0, 0, 0, 0.12);
    margin-top: -10px; }
  .header__img {
    position: absolute;
    bottom: 90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 1370px;
    margin-left: 30px; }

.panel {
  z-index: 100;
  position: absolute;
  top: 96px;
  left: 0;
  right: 0;
  background-color: #c6e4f1;
  padding-top: 8px;
  padding-bottom: 9px; }
  .panel_fixed {
    position: fixed;
    top: 0; }
  .panel__logo {
    width: 170px;
    padding-top: 6px;
    text-align: center;
    font-size: 0; }
    .panel__logo a {
      display: inline-block;
      width: 70px; }
    .panel__logo img {
      margin-left: auto;
      margin-right: auto; }
  .panel__nav {
    width: 665px;
    margin-left: 57px; }
    .panel__nav ul {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .panel__nav li {
      font-size: 31px; }
    .panel__nav a:hover {
      color: #ff5454; }
  .panel__phone {
    text-align: right; }
  .panel__contacts {
    margin-left: auto;
    width: 220px; }
  .panel__socials {
    margin-right: -3px; }

.socials li {
  margin-left: 3px;
  margin-right: 3px; }

.socials a {
  position: relative;
  display: block;
  width: 31px;
  height: 31px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fee43a; }
  .socials a:hover {
    background-color: #010101; }
    .socials a:hover .icon:nth-of-type(1) {
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .socials a:hover .icon:nth-of-type(2) {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.socials .icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .3s;
  transition: .3s; }
  .socials .icon:nth-of-type(2) {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.welcome {
  background: url("../../img/bg/yellow-bg-1.png") no-repeat center top;
  margin-top: -310px;
  padding-top: 255px;
  padding-bottom: 5px; }
  .welcome__img {
    width: 607px; }
  .welcome__text {
    width: 485px;
    font-size: 41px;
    line-height: 45px;
    margin-left: 10px; }

.title {
  font-size: 66px;
  text-align: center; }

.hidden-lg {
  display: none; }

.teach {
  position: relative;
  min-height: 948px;
  background: url("../../img/bg/bg.png") no-repeat center top; }
  .teach__title {
    position: absolute;
    top: 40px;
    text-align: center;
    left: 0;
    right: 0; }
  .teach__list {
    font-size: 0; }
    .teach__list .slick-arrow {
      position: absolute;
      z-index: 1;
      margin-top: -23px; }
  .teach__item {
    height: 100%;
    height: 948px; }
    .teach__item_actor .teach__img {
      margin-left: -120px; }
    .teach__item_actor .teach__text {
      bottom: 89px;
      width: 260px; }
    .teach__item_speaker .teach__img {
      margin-left: -85px; }
    .teach__item_speaker .teach__text {
      top: 390px;
      right: 137px;
      width: 260px; }
    .teach__item_operator .teach__img {
      margin-left: 0px; }
    .teach__item_operator .teach__text {
      top: 280px;
      right: 77px;
      width: 430px; }
    .teach__item_mobile-photo .teach__img {
      margin-left: 240px; }
    .teach__item_mobile-photo .teach__text {
      bottom: 160px;
      left: 15px;
      width: 400px; }
    .teach__item_video-editing .teach__img {
      margin-left: 150px; }
    .teach__item_video-editing .teach__text {
      bottom: 155px;
      left: 15px;
      width: 345px; }
    .teach__item_humor .teach__img {
      margin-left: -170px; }
    .teach__item_humor .teach__subtitle {
      top: 293px;
      left: 128px; }
    .teach__item_humor .teach__text {
      top: 420px;
      right: 115px;
      width: 345px; }
    .teach__item_smm .teach__subtitle {
      top: 280px;
      left: 79px; }
    .teach__item_smm .teach__text {
      top: 290px;
      right: -8px;
      width: 675px; }
    .teach__item_stendup .teach__img {
      margin-left: 160px;
      bottom: 23px; }
    .teach__item_stendup .teach__subtitle {
      top: 270px;
      left: 0; }
    .teach__item_stendup .teach__text {
      top: 402px;
      left: 103px;
      width: 345px; }
  .teach__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    .teach__img img {
      max-width: none !important; }
  .teach__wrap {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 0;
    top: 0; }
    .teach__wrap .case {
      height: 948px; }
  .teach__subtitle {
    top: 210px;
    position: absolute;
    font-size: 88px;
    text-transform: uppercase;
    line-height: 55px; }
    .teach__subtitle span {
      display: block;
      font-size: 55px; }
  .teach__text {
    position: absolute;
    font-size: 28px;
    bottom: 85px;
    right: 42px; }

.arrow.arrow_black .slick-prev {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 59px;
  height: 74px; }

.arrow.arrow_black .slick-next {
  background-image: url(../../img/sprite.png);
  background-position: -118px 0px;
  width: 59px;
  height: 74px; }

.arrow.arrow_white .slick-arrow {
  opacity: .5; }
  .arrow.arrow_white .slick-arrow:hover {
    opacity: 1; }

.arrow.arrow_white .slick-prev {
  background-image: url(../../img/sprite.png);
  background-position: -118px -74px;
  width: 59px;
  height: 74px; }

.arrow.arrow_white .slick-next {
  background-image: url(../../img/sprite.png);
  background-position: 0px -74px;
  width: 59px;
  height: 74px; }

.arrow .slick-arrow {
  z-index: 1;
  background: none;
  font-size: 0;
  position: absolute;
  top: 50%;
  cursor: pointer; }

.arrow .slick-prev {
  left: 50%;
  margin-left: -576px; }
  .arrow .slick-prev:before {
    opacity: .17;
    display: block;
    content: '';
    background-image: url(../../img/sprite.png);
    background-position: 0px 0px;
    width: 59px;
    height: 74px;
    margin-top: 12px; }
  .arrow .slick-prev:hover {
    background-image: url(../../img/sprite.png);
    background-position: -59px 0px;
    width: 59px;
    height: 74px; }

.arrow .slick-next {
  right: 50%;
  margin-right: -592px; }
  .arrow .slick-next:before {
    opacity: .17;
    display: block;
    content: '';
    background-image: url(../../img/sprite.png);
    background-position: -118px 0px;
    width: 59px;
    height: 74px;
    margin-top: 12px; }
  .arrow .slick-next:hover {
    background-image: url(../../img/sprite.png);
    background-position: -59px -74px;
    width: 59px;
    height: 74px; }

.guys {
  position: relative;
  color: #fff;
  min-height: 874px;
  background: url("../../img/bg/kids-eat.png") no-repeat center top; }
  .guys .case {
    position: static; }
  .guys__title {
    padding-top: 44px;
    padding-left: 15px;
    padding-right: 15px; }
  .guys__text {
    position: absolute;
    bottom: 39px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 35px;
    padding-left: 15px;
    padding-right: 15px; }
  .guys__name {
    font-size: 45px;
    line-height: 30px; }
  .guys__list {
    position: relative; }
  .guys__item {
    position: absolute;
    left: 900px; }
    .guys__item:before {
      display: block;
      content: '';
      width: 73px;
      height: 67px;
      background-clip: center;
      background-repeat: no-repeat;
      position: absolute; }
    .guys__item_danya-1 {
      top: 23px;
      width: 165px;
      left: -10px;
      text-align: right; }
      .guys__item_danya-1:before {
        background-image: url("../../img/bg/arrow-right.png");
        right: -40px;
        bottom: -50px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .guys__item_taya {
      top: 246px;
      width: 100px;
      left: 200px; }
      .guys__item_taya:before {
        background-image: url("../../img/bg/arrow-left.png");
        left: 26px;
        bottom: -84px;
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg); }
    .guys__item_liza {
      top: 30px;
      width: 375px;
      left: 385px; }
      .guys__item_liza:before {
        background-image: url("../../img/bg/arrow-left.png");
        left: -100px;
        bottom: -10px;
        -webkit-transform: rotate(-235deg);
            -ms-transform: rotate(-235deg);
                transform: rotate(-235deg); }
    .guys__item_masha-1 {
      top: 135px;
      width: 240px;
      left: 565px;
      text-align: right; }
      .guys__item_masha-1:before {
        background-image: url("../../img/bg/arrow-right.png");
        right: 63px;
        bottom: -84px;
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg); }
    .guys__item_masha-2 {
      top: 423px;
      width: 260px;
      left: 545px;
      text-align: right; }
      .guys__item_masha-2:before {
        background-image: url("../../img/bg/arrow-right.png");
        top: -52px;
        right: -70px;
        -webkit-transform: rotate(-200deg);
            -ms-transform: rotate(-200deg);
                transform: rotate(-200deg); }
    .guys__item_danya-2 {
      top: 280px;
      width: 160px;
      left: 943px; }
      .guys__item_danya-2:before {
        background-image: url("../../img/bg/arrow-left.png");
        left: 64px;
        bottom: -84px;
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg); }
  .guys__desc {
    font-size: 29px; }

.with {
  color: #fff;
  position: relative; }
  .with__title {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; }
  .with__list {
    font-size: 0; }
  .with__item {
    height: 773px;
    position: relative;
    background-position: center; }
    .with__item_youtube .with__name, .with__item_events .with__name {
      margin-right: -80px; }
      .with__item_youtube .with__name span, .with__item_events .with__name span {
        font-size: 78px; }
    .with__item_interview-star .with__name {
      margin-right: -120px; }
      .with__item_interview-star .with__name span {
        font-size: 78px; }
    .with__item_friends .with__name {
      margin-right: -280px; }
      .with__item_friends .with__name span {
        font-size: 78px; }
  .with__name {
    position: absolute;
    font-size: 47px;
    line-height: 57px;
    text-transform: uppercase;
    top: 50%;
    right: 0;
    margin-top: -12px;
    margin-right: -180px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 610px; }
    .with__name span {
      display: block;
      font-size: 84px; }

.corner {
  background: url("../../img/bg/wall.png") repeat center top;
  padding-top: 70px;
  overflow: hidden; }

.pride__title {
  margin-bottom: 85px; }

.pride__item {
  position: relative; }
  .pride__item:nth-of-type(odd) .pride__img img {
    position: relative;
    -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
            transform: rotate(-3deg); }
  .pride__item:nth-of-type(odd) .pride__img:before {
    display: block;
    z-index: 1;
    content: '';
    position: absolute;
    top: -27px;
    left: -40px;
    width: 372px;
    height: 242px;
    background: url("../../img/bg/border-left.png") no-repeat center; }
  .pride__item:nth-of-type(even) .pride__img img {
    position: relative;
    -webkit-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
            transform: rotate(3deg); }
  .pride__item:nth-of-type(even) .pride__img:before {
    display: block;
    z-index: 1;
    content: '';
    position: absolute;
    top: -27px;
    left: -57px;
    width: 372px;
    height: 242px;
    background: url("../../img/bg/border-right.png") no-repeat center; }

.pride__name {
  font-size: 36px;
  text-align: center;
  margin-top: 37px; }

.teacher {
  margin-top: 85px; }
  .teacher__title {
    margin-bottom: 10px; }
  .teacher__img {
    width: 750px;
    margin-left: -104px;
    margin-right: -30px;
    position: relative;
    z-index: 1; }
    .teacher__img img {
      position: relative;
      z-index: 2; }
    .teacher__img:before {
      position: absolute;
      content: ' ';
      width: 1473px;
      height: 949px;
      left: -510px;
      bottom: -275px;
      background: url("../../img/bg/teacher-shadow.png") no-repeat center; }
  .teacher__text {
    width: -webkit-calc(100% - 750px + 104px);
    width: calc(100% - 750px + 104px);
    padding-top: 15px;
    position: relative;
    z-index: 1; }
    .teacher__text p {
      margin-bottom: 20px; }
      .teacher__text p:last-of-type {
        margin-bottom: 0; }

.mc {
  color: #fff;
  background: url("../../img/bg/teachers.png") no-repeat center top; }
  .mc .case {
    padding-top: 65px;
    position: relative;
    min-height: 868px; }
  .mc__text {
    position: absolute;
    bottom: 52px;
    left: 15px;
    right: 15px; }

.edu {
  padding-top: 48px;
  background: url("../../img/bg/bg-2.png") no-repeat center top;
  overflow: hidden; }
  .edu__wrap {
    margin-top: -18px; }
  .edu__img {
    position: relative;
    margin-left: -267px; }
    .edu__img img {
      position: relative;
      z-index: 1; }
    .edu__img:before {
      content: '';
      z-index: 1;
      position: absolute;
      width: 2340px;
      height: 937px;
      bottom: 0;
      background: url("../../img/bg/kids-selfie-shadow.png"); }
  .edu__content {
    z-index: 1;
    position: relative;
    width: -webkit-calc(100% - 945px + 267px + 50px - 10px);
    width: calc(100% - 945px + 267px + 50px - 10px);
    padding-top: 95px;
    margin-left: -50px; }
    .edu__content p {
      margin-bottom: 20px; }
    .edu__content .color-red {
      font-weight: 700; }
  .edu__btn {
    width: 270px; }

.shares {
  padding-top: 68px;
  padding-bottom: 120px;
  color: #fff;
  background-color: #3695de; }
  .shares__title {
    margin-bottom: 60px; }
  .shares__item {
    width: 270px;
    position: relative; }
    .shares__item:nth-of-type(1) .shares__desc {
      right: -160px; }
      .shares__item:nth-of-type(1) .shares__desc:before {
        left: 34px;
        border-width: 15px 11px 0 0;
        border-color: #ffffff transparent transparent transparent; }
    .shares__item:nth-of-type(2) .shares__desc {
      right: 0;
      top: -120px; }
      .shares__item:nth-of-type(2) .shares__desc:before {
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        border-width: 15px 7.5px 0 7.5px;
        border-color: #ffffff transparent transparent transparent; }
    .shares__item:nth-of-type(3) .shares__desc {
      left: -160px; }
      .shares__item:nth-of-type(3) .shares__desc:before {
        right: 34px;
        border-width: 0 11px 15px 0;
        border-color: transparent #ffffff transparent transparent; }
  .shares__desc {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 270px;
    height: 115px;
    -webkit-box-shadow: 20px 35px 40px rgba(92, 95, 101, 0.28);
            box-shadow: 20px 35px 40px rgba(92, 95, 101, 0.28);
    background-color: #ffffff;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    font-size: 26px;
    color: #2f8ec4;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    top: -115px;
    -webkit-transition: .7s;
    transition: .7s;
    opacity: 0;
    -webkit-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
            transform: translateY(-50px);
    visibility: hidden; }
    .shares__desc:before {
      z-index: 1;
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      bottom: -15px; }
    .shares__desc_show {
      z-index: 1;
      opacity: 1;
      -webkit-transform: translateY(0px);
          -ms-transform: translateY(0px);
              transform: translateY(0px);
      visibility: visible; }
  .shares__count {
    opacity: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-size: 14px;
    color: #010101;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 3px;
    top: 50px;
    position: absolute;
    z-index: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    visibility: hidden;
    -webkit-transition: .3s;
    transition: .3s; }
    .shares__count_show {
      opacity: 1;
      visibility: visible; }
  .shares__btn {
    margin-bottom: 42px; }

.color-yellow {
  color: #fcd52b; }

.color-red {
  color: #f31212; }
